doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{titulo || "Clínica"}
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")

  body
    //- header / navbar
    header
      nav.navbar
        a.nav-logo(href="/") Clínica coso
        button#themeBtn.nav-link(type="button", title="Alternar tema") 🌙
        if usuario
          //- mandamos un post al back para romper la session
          form(action="/auth/logout", method="POST", style="display:inline")
            button.nav-link(type="submit") Cerrar sesión

    //- Contenedor de mensajes Flash
    .flash-messages
      if success_msg && success_msg.length > 0
        .alert.alert-success= success_msg
      if error_msg && error_msg.length > 0
        .alert.alert-danger= error_msg

    //- container principal
    main.container
      block content

    //- footer 
    footer.footer
      p &copy; #{new Date().getFullYear()} coso
    script(src="/js/theme.js")
